name: React Tests with Docker

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t react-test -f Dockerfile.dev .

      - name: Run Tests (CI Mode)
        run: docker run -e CI=true react-test npm run test -- --coverage --watchAll=false --passWithNoTests
